html{
    font-family: 'Montserrat', sans-serif;
    }
    body {
        background-color: #778899;
        font:12px arial;
        color: rgb(216, 195, 195);
        text-align:center;
        padding:35px;
        border-style: solid dotted; 
        margin: 0;}
     
    form, p, span {
        margin:0;
        padding:0; }
     
    input { font:12px arial; }
     
    a {
        color:rgb(216, 195, 195);
        text-decoration:none; }
     
        a:hover { text-decoration:underline; }
     
    #wrapper, #loginform {
        margin:0 auto;
        padding-bottom:25px;
        background:#8bc4f0;
        width:504px;
        border:1px solid #4fb7f0; }
     
    #loginform { padding-top:18px; }
     
        #loginform p { margin: 5px; }
     
    #chatbox {
        text-align:left;
        margin:0 auto;
        margin-bottom:25px;
        padding:10px;
        background:rgb(219, 41, 41);
        height:270px;
        width:430px;
        border:1px solid #ACD8F0;
        overflow:auto; }
     
    #usermsg {
        width:395px;
        border:1px solid #ACD8F0; }
     
    #submit { width: 60px; }
     
    .error { color: #ff0000; }
     
    #menu { padding:12.5px 25px 12.5px 25px; }
     
    .welcome { float:left; }
     
    .logout { float:right; }
     
    .msgln { margin:0 0 2px 0; }